<app-header></app-header>
<app-menua></app-menua>
<div class="container-fluid" *ngFor="let datos of tarea">
    <div class="my-5">
        <h1 style="margin-left:4.33333%;font-weight:650;">DETALLE TAREA</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11 card shadow p-5 mb-5">
            <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <span style="text-transform: none;">Para:</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="font-weight: 700;">{{datos.Nombre}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span style="text-transform: none;">Cliente</span>
                        <h5>{{datos.Nombre_Empresa}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span style="text-transform: none;">Sucursal</span>
                        <h5>{{datos.Sucursal}}</h5>
                    </div>
                </div>

            </div>
            <div class="col-md-6 p-0 text-right" *ngIf="datos.MotivCancel === ''">
                <span style="color: #ffd800">Finalizada&nbsp;</span>&nbsp;<span>por&nbsp;{{datos.Nombre}}</span><br>
            </div>
            <div class="col-md-6 p-0 text-right" *ngIf="datos.MotivCancel !== ''">
              <span style="color: red">Cancelada&nbsp;</span>&nbsp;<span>por&nbsp;{{datos.MotivCancel}}</span><br>
              <span>Creada:</span>&nbsp;<span>{{datos.FechaSol | date:'EEEE'}}</span>&nbsp;<span>{{datos.FechaSol | date:'dd'}}</span>&nbsp;<span style="text-transform:none">de</span>&nbsp;<span>{{datos.FechaSol | date:'MMMM'}}</span>&nbsp;<span style="text-transform:none">de</span>&nbsp;<span>{{datos.FechaSol | date:'y'}}</span><br>
              <span *ngFor="let datos2 of rem" style="text-transform: none;">Asignada por: {{datos2.Nombre}}</span>
          </div>
            </div>

            <div class="row borderr">
                <div class="col-md-12">
                    <span style="text-transform: none;">Tarea</span><br>
                    <input disabled style="width: 100%;" [(ngModel)]="Tarea" value="{{Tarea}}">
                </div>
            </div>
            <div class="row borderr">
                <div class="col-md-5 my-3">
                    <h2>Archivos Multimedia</h2>
                </div>
                <div class="col-md-7 my-3">
                    <!-- <label class="shadow circle" style="cursor: pointer;"></label>
                    <label class="shadow circle2" style="cursor: pointer;"></label>
                    <label class="shadow circle3" style="cursor: pointer;"></label>
                    <label class="shadow circle4" style="cursor: pointer;"></label>
                    <label class="shadow circle5" style="cursor: pointer;"></label> -->
                    <!-- <div class="fab">
                        <span class="fab-action-button shadow">
                            <i class="fab-action-button__icon"></i>
                        </span>
                        <ul class="fab-buttons">
                            <li class="fab-buttons__item">
                                <a href="#" class="fab-buttons__link shadow">
                                    <i class="icon-material icon-material_fb"></i>
                                </a>
                            </li>
                            <li class="fab-buttons__item">
                                <a href="#" class="fab-buttons__link shadow">
                                    <i class="icon-material icon-material_tw"></i>
                                </a>
                            </li>
                            <li class="fab-buttons__item">
                                <a href="#" class="fab-buttons__link shadow">
                                    <i class="icon-material icon-material_li"></i>
                                </a>
                            </li>
                            <li class="fab-buttons__item">
                                <a href="#" class="fab-buttons__link shadow">
                                    <i class="icon-material icon-material_gp"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-md-12 mb-4 archivos">
                    <div class="col-md-8 ">
                        <div class="row">

                            <div  class="col-md-10">
                                <div *ngFor="let archi of arch" class="row">
                                    <div class="col-md-12 d-flex align-items-center">

                                        <img *ngIf="archi.formato === 'png' || archi.formato === 'jpg'
                                        || archi.formato === 'jpeg' || archi.formato === 'gif'
                                        || archi.formato === 'bmp' || archi.formato === 'ico'"
                                        src="../../../assets/img/images-outline.svg" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato === 'doc' || archi.formato === 'dot'
                                        || archi.formato === 'docx'"
                                        src="../../../assets/img/word.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato === 'xls' || archi.formato === 'xlsx'
                                        || archi.formato === 'csv' || archi.formato === 'xlk'
                                        || archi.formato === 'xlm' || archi.formato === 'ctt'"
                                        src="../../../assets/img/excel.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato === 'pps' || archi.formato === 'ppt'
                                        || archi.formato === 'pptx'"
                                        src="../../../assets/img/power.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato === 'pdf'"
                                        src="../../../assets/img/pdf.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato === 'zip' || archi.formato === '7z'
                                        || archi.formato === 'rar'"
                                        src="../../../assets/img/zip.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato === 'mp3' || archi.formato === 'mid'
                                        || archi.formato === 'wav' || archi.formato === 'aac'"
                                        src="../../../assets/img/musica.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato === 'avi' || archi.formato === 'mkv'
                                        || archi.formato === 'flv' || archi.formato === 'mov'
                                        || archi.formato === 'wmv' || archi.formato === 'mp4'"
                                        src="../../../assets/img/video.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <img *ngIf="archi.formato !== 'png' && archi.formato !== 'jpg'
                                        && archi.formato !== 'jpeg' && archi.formato !== 'gif'
                                        && archi.formato !== 'bmp' && archi.formato !== 'ico' &&
                                        archi.formato !== 'doc' && archi.formato !== 'dot'
                                        && archi.formato !== 'docx' && archi.formato !== 'xls' && archi.formato !== 'xlsx'
                                        && archi.formato !== 'csv' && archi.formato !== 'xlk'
                                        && archi.formato !== 'xlm' && archi.formato !== 'ctt' &&
                                        archi.formato !== 'pps' && archi.formato !== 'ppt'
                                        && archi.formato !== 'pptx' && archi.formato !== 'pdf' &&
                                        archi.formato !== 'zip' && archi.formato !== '7z'
                                        && archi.formato !== 'rar' && archi.formato !== 'mp3' && archi.formato !== 'mid'
                                        && archi.formato !== 'wav' && archi.formato !== 'aac' &&
                                        archi.formato !== 'avi' && archi.formato !== 'mkv'
                                        && archi.formato !== 'flv' && archi.formato !== 'mov'
                                        && archi.formato !== 'wmv' && archi.formato !== 'mp4'"
                                        src="../../../assets/img/archivo.png" width="20px" height="20px"
                                        class="mr-2 imgS">
                                        <a href="https://animatiomx.com/lum/Archivos/{{decode_utf8(archi.Nombre)}}" target="_blank"><label style="cursor: pointer;margin-bottom: 3px;" >{{(decode_utf8(archi.Nombre)).substring(18, 100)}}</label></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 my-3">
                    <h2>Comentarios</h2>
                    <div *ngFor="let com of com">
                        <br>
                        <span style="text-transform: uppercase;">{{com.Nombre}}-</span>
                        <br>
                        <span style="text-transform: none;">{{com.Comentario}}</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
