
    .custom-select{
        border-radius: 1rem;
        border: 1px solid;
    }
    h1,h2,h4,h6{
    color: #07138f;
    }
    h5{
    font-style: italic;
    font-weight: 600;
    }
    h3{
    font-weight: 600;
    }
    input{
    border: none;
    background-color: white!important;
    }

    #content1 {
        width: calc(100% - 15%);
        padding: 40px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }
    .btn-azul{
        background-color: #07138f;
        border-radius: 20px;
        color: white;
        padding: 0px 20px;
    }
    #content1.active {
        width: 100%;
    }
    /* ---------------------------------------------------
    MEDIA QUERYS
    ----------------------------------------------------- */
    @media screen and (width: 1280px) {
    }
    @media screen and (min-width: 1366px) {
    }
    @media screen and (min-width: 1440px) {
    }
    @media screen and (min-width: 1600px) {
    }
    @media screen and (min-width: 1680px) {
    }
    @media screen and (min-width: 1920px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1750px;}
    h1{ font-size: 75px; }
    h2{ font-size: 40px; }
    h3{ font-size: 35px; }
    h5{ font-size: 32px; }
    .mb-3, .my-3 { margin-bottom: 3rem!important;}
    .mt-3, .my-3 { margin-top: 3rem!important; }
    input{ height: 65px; font-size: 35px;}
    .mb-5, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-5, .my-5 {   margin-top: 4.5rem!important; }
    }
    @media screen and (min-width: 2160px) {
    }
    @media screen and (min-width: 2560px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 2340px;}
    h1{ font-size: 85px; }
    h2{ font-size: 50px; }
    h3{ font-size: 45px; }
    h5{ font-size: 36px; }
    .mb-3, .my-3 { margin-bottom: 3rem!important;}
    .mt-3, .my-3 { margin-top: 3rem!important; }
    input{ height: 65px; font-size: 35px;}
    .mb-5, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-5, .my-5 {   margin-top: 4.5rem!important; }
    }
    @media screen and (min-width: 2560px) and (max-height: 1080px){
    }
    @media screen and (min-width: 2736px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 2440px;}
    h1{ font-size: 110px; }
    h2{ font-size: 75px; }
    h3{ font-size: 45px; }
    h5{ font-size: 43px; }
    .pb-3, .py-3 { padding-bottom: 2rem!important;}
    .pt-3, .py-3 { padding-top: 2rem!important; }
    .pb-2, .py-2 { padding-bottom: 1rem!important;}
    .pt-2, .py-2 { padding-top: 1rem!important; }
    input{ height: 65px; font-size: 35px;}
    .mb-5, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-5, .my-5 {   margin-top: 4.5rem!important; }
    }
    @media screen and (min-width: 3440px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 3140px;}
    h1{ font-size: 140px; }
    h2{ font-size: 75px; }
    h3{ font-size: 45px; }
    h5{ font-size: 60px; }
    .pb-3, .py-3 { padding-bottom: 2.5rem!important;}
    .pt-3, .py-3 { padding-top: 2.5rem!important; }
    .pb-2, .py-2 { padding-bottom: 2rem!important;}
    .pt-2, .py-2 { padding-top: 2rem!important; }
    input{ height: 85px; font-size: 50px;}
    .mb-5, .my-5 {   margin-bottom: 6.5rem!important; }
    .mt-5, .my-5 {   margin-top: 6.5rem!important; }
    span {   font-size: 50px !important;}
    .mb-4, .my-4 {   margin-bottom: 3.5rem!important;}
    }
    @media screen and (min-width: 3840px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 3640px;}
    h1{ font-size: 140px; }
    h2{ font-size: 75px; }
    h3{ font-size: 45px; }
    h5{ font-size: 70px; }
    .pb-3, .py-3 { padding-bottom: 3.5rem!important;}
    .pt-3, .py-3 { padding-top: 3.5rem!important; }
    .pb-2, .py-2 { padding-bottom: 3rem!important;}
    .pt-2, .py-2 { padding-top: 3rem!important; }
    input{ height: 85px; font-size: 50px;}
    .mb-2, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-2, .my-5 {   margin-top: 4.5rem!important; }
    span {   font-size: 50px !important;}
    }
    @media screen and (min-width: 3840px) and (max-height: 1080px){
    }