.input{
    border: 1px solid black;
    width: 100%;
    border-radius: 25px;
}
select{
    width: 100%;
    border-radius: 25px;
    border: 1px solid black;
}
    /* ---------------------------------------------------
    MEDIA QUERYS
    ----------------------------------------------------- */
    @media screen and (width: 1280px) {
    }
    @media screen and (min-width: 1366px) {
    }
    @media screen and (min-width: 1440px) {
    }
    @media screen and (min-width: 1600px) {
    }
    @media screen and (min-width: 1680px) {
    }
    @media screen and (min-width: 1920px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1750px;}
    h1{ font-size: 75px; }
    h2{ font-size: 85px; }
    h3{ font-size: 35px; }
    h5{ font-size: 32px; }
    h6{ font-size: 25px; }
    span{ font-size: 85px!important; }
    .mb-3, .my-3 { margin-bottom: 3rem!important;}
    .mt-3, .my-3 { margin-top: 3rem!important; }
    .mb-5, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-5, .my-5 {   margin-top: 4.5rem!important; }
    }
    @media screen and (min-width: 2160px) {
    }
    @media screen and (min-width: 2560px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 2340px;}
    h1{ font-size: 85px; }
    h2{ font-size: 95px; }
    h3{ font-size: 45px; }
    h5{ font-size: 36px; }
    span{ font-size: 95px!important; }
    .mb-3, .my-3 { margin-bottom: 3rem!important;}
    .mt-3, .my-3 { margin-top: 3rem!important; }
    .mb-5, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-5, .my-5 {   margin-top: 4.5rem!important; }
    }
    @media screen and (min-width: 2560px) and (max-height: 1080px){
    }
    @media screen and (min-width: 2736px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 2440px;}
    h1{ font-size: 110px; }
    h2{ font-size: 120px; }
    h3{ font-size: 45px; }
    h5{ font-size: 43px; }
    span{ font-size: 120px!important; }
    .pb-3, .py-3 { padding-bottom: 2rem!important;}
    .pt-3, .py-3 { padding-top: 2rem!important; }
    .pb-2, .py-2 { padding-bottom: 1rem!important;}
    .pt-2, .py-2 { padding-top: 1rem!important; }
    .mb-5, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-5, .my-5 {   margin-top: 4.5rem!important; }
    }
    @media screen and (min-width: 3440px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 3140px;}
    h1{ font-size: 140px; }
    h2{ font-size: 150px; }
    h3{ font-size: 45px; }
    h5{ font-size: 60px; }
    span{ font-size: 150px!important; }
    .pb-3, .py-3 { padding-bottom: 2.5rem!important;}
    .pt-3, .py-3 { padding-top: 2.5rem!important; }
    .pb-2, .py-2 { padding-bottom: 2rem!important;}
    .pt-2, .py-2 { padding-top: 2rem!important; }
    .mb-5, .my-5 {   margin-bottom: 6.5rem!important; }
    .mt-5, .my-5 {   margin-top: 6.5rem!important; }
    .mb-4, .my-4 {   margin-bottom: 3.5rem!important;}
    }
    @media screen and (min-width: 3840px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 3640px;}
    h1{ font-size: 140px; }
    h2{ font-size: 150px; }
    h3{ font-size: 45px; }
    h5{ font-size: 70px; }
    span{ font-size: 150px!important; }
    .pb-3, .py-3 { padding-bottom: 3.5rem!important;}
    .pt-3, .py-3 { padding-top: 3.5rem!important; }
    .pb-2, .py-2 { padding-bottom: 3rem!important;}
    .pt-2, .py-2 { padding-top: 3rem!important; }
    .mb-2, .my-5 {   margin-bottom: 4.5rem!important; }
    .mt-2, .my-5 {   margin-top: 4.5rem!important; }
    }
    @media screen and (min-width: 3840px) and (max-height: 1080px){
    }