<router-outlet></router-outlet>
<app-header></app-header>
<app-menu></app-menu>
<!-- /*
|--------------------------------------------------------------------------
| Tab1 PERFIL
|--------------------------------------------------------------------------
*/ -->
    <div class="container mb-5 pb-5">
        <div class="mb-3 mt-5">
            <h1 class="ml-3">MI PERFIL</h1>
        </div>
        <div class="card col-lg-12 shadow py-3" *ngFor="let us of usuario">
            <div class="row py-3">
                <div class="col-lg-3 d-flex align-items-center justify-content-center">
                    <div *ngIf="previewUrl">
                        <img  [src]="previewUrl" class="img"/>
                    </div>
                    <img *ngIf="!previewUrl" src="https://animatiomx.com/lum/imagenes/{{us.Imagen}}" class="img"/>
                    <label for="foto" class="circle"></label>
                    <input style="display: none;" type="file" id="foto"
                    (change)="onFileChanged($event,$event.target.files, $event)" multiple
                    accept="image/*">
                </div>
                <div class="col-lg-9">
                    <h2 class="card-title mt-4" style="font-weight: bold;">{{us.Nombre}}</h2>
                    <h5 *ngIf="us.Rol === '1'" style="font-weight: 400; font-style:italic;color: gray;">ASESOR DE VENTAS</h5>
                    <h5 *ngIf="us.Rol === '2'" style="font-weight: 400; font-style:italic;color: gray;">COORDINADOR</h5>
                </div>
            </div>
        </div>

        <div class="row my-5">

            <div class="col-lg-4"  *ngFor="let us of usuario">
                <div class="card shadow border-0 alto">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="card-body">
                            <h2 class="py-3 text-center font-weight-bold">MI CUENTA</h2>
                            <form id="login-form" class="form" action="" method="post">
                                <div class="form-group text-center">
                                    <label for="username" style="color: #393939;">USUARIO</label><br>
                                    <input type="email" name="username" id="username" class="form-control" value="{{us.Usuario}}" style="text-align: center;" disabled>
                                </div>
                                <div class="form-group text-center">
                                    <label for="password" style="color: #393939;">CONTRASEÑA</label><br>
                                    <input type="password" name="password" id="password" class="form-control" value="{{us.Password | slice:52}}" style="text-align: center;" disabled>
                                </div>
                                <div class="form-group text-center">
                                    <a [routerLink]="['/Pefil_Asesor/Cambiar_Contra']" class="shadow btn btn-azul" style="font-weight: bold;">CAMBIAR</a>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card shadow border-0 alto">
                <h2 class="py-3 text-center font-weight-bold">EQUIPO DE TRABAJO</h2>
                <div class="card-body overflow-auto mb-4">
                    <div class="row m-0 py-2" style="max-width:100%;height:400px;border-bottom:1px solid #1c1c1a;height:fit-content;"  *ngFor="let eq of equipo2">
                        <div class="col-lg-2" style="height:fit-content;" *ngIf="eq.Status_User === '1'">
                            <img src="https://animatiomx.com/lum/imagenes/{{eq.Imagen}}" class="img2" alt="">
                        </div>
                        <div class="col-lg-2" style="height:fit-content;opacity: 0.5;" *ngIf="eq.Status_User === '0'">
                            <img src="https://animatiomx.com/lum/imagenes/{{eq.Imagen}}" class="img2" alt="">
                        </div>
                        <div class="col-lg-6" style="height:fit-content;" *ngIf="eq.Status_User === '1'">
                            <h5>{{eq.Nombre}}</h5>
                            <span *ngIf="eq.Rol === '1'" style="font-style: italic;">ASESOR DE VENTAS</span>
                            <span *ngIf="eq.Rol === '2'" style="font-style: italic;">COORDINADOR</span>
                            <span *ngIf="eq.Rol === '3'" style="font-style: italic;">ADMINISTRADOR</span>
                            <span *ngIf="eq.Rol === '4'" style="font-style: italic;">COORDINADOR/ADMIN</span>
                        </div>
                        <div class="col-lg-4" style="height:fit-content;" *ngIf="eq.Status_User === '1'">
                            <span>{{eq.Usuario}}</span>
                        </div>

                        <div class="col-lg-6" style="height:fit-content;opacity: 0.5;" *ngIf="eq.Status_User === '0'">
                            <h5 style="color: gray;">{{eq.Nombre}}</h5>
                            <span *ngIf="eq.Rol === '1'" style="font-style: italic;">ASESOR DE VENTAS</span>
                            <span *ngIf="eq.Rol === '2'" style="font-style: italic;">COORDINADOR</span>
                            <span *ngIf="eq.Rol === '3'" style="font-style: italic;">ADMINISTRADOR</span>
                            <span *ngIf="eq.Rol === '4'" style="font-style: italic;">COORDINADOR/ADMIN</span>
                        </div>
                        <div class="col-lg-4" style="height:fit-content;opacity: 0.5;" *ngIf="eq.Status_User === '0'">
                            <span style="color: gray;">{{eq.Usuario}}</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
<app-footer></app-footer>